/* .hidden{
  display:none;
}

.box{
  width:50px;
  height:50px;
  background-color: red;
  margin:40px;
  padding:10px;
  border: 3px solid black;

  transition: all 2.0s ease;
}

.box:hover{
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);

  transform: rotate(1turn);
  border-radius: 40px;
  background-color: yellow;
  color:#000000;
}

.box span{
  color:#ffffff;
}

.box:hover span{
  transition: 2.0s;
  color:#000000;
} */

/* Button styles */
/* body{
  font-family: Helvetica,Arial,sans-serif;
  font-size: 14px;
  padding:20px 0 0 20px;
}

.button{
  margin-top:200px;
  text-align: center;
  padding:10px;
  text-decoration: none;
  color:#ffffff;
  cursor:pointer;
  border-radius:5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.5);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);

  background: #8dd3ef;
  background: -moz-radial-gradient(center, ellipse cover, #8dd3ef 0%, #2cafe3 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #8dd3ef 0%,#2cafe3 100%);
  background: radial-gradient(ellipse at center, #8dd3ef 0%,#2cafe3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8dd3ef', endColorstr='#2cafe3',GradientType=1 );
}

.button:active{
  position:relative;
  top:15px;
  color: red;
  transition: all 2.0s ease;
} */

main{
  margin:0 auto;
  width:960px;
}

#main-nav {
  margin:0;
  padding:0;
  font-family: "Lucida Sans Univode","Lucida Grande",sans-serif;
  height:60px;

  background: rgb(99,171,226);
}

#main-nav ul{
  list-sytle-type:none;
}

#main-nav ul li{
  float: left;
}

#main-nav ul li a{
  display:block;
  color:white;
  font-size:1em;
  text-decoration: none;
  margin: 20px 10px 10px 0;
  padding:20px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;

  transition: all 0.5s ease;
}

#main-nav ul li a:hover{
  color:#e93cec;
  background-color:white;
}
